.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-button[color="dark"] {
    text-transform: initial;
}

ion-button[color="purple"] {
    background: #bc74ff;
}

ion-button[color="cadastrar"] {
    color: aliceblue;
}

ion-content {
    --background: #6921ac;
}

ion-label {
    text-align: center;
    color: aliceblue;
}