.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-button[color="dark"] {
    text-transform: initial;
}

ion-button[color="purple"] {
    background: #bc74ff;
}

ion-button[color="cadastrar"] {
    color: #6921ac;
}

ion-content {
    --background: rgba(40, 42, 54, 1);
}

ion-label {
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}

ion-card {
    background: rgba(40, 42, 54, 1);
}

ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.item-native::after {
    color: #6921ac;
}