<ion-content>
    <div class="flex-center">
        <ion-card>

            <ion-img style="width: 260px; height: 260px;" src="/assets/logo1.png"></ion-img>

            <ion-item>
                <ion-label position="fixed">E-mail: </ion-label>
                <ion-input type="email" [(ngModel)]="userLogin.email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Senha: </ion-label>
                <ion-input type="Password" [(ngModel)]="userLogin.password"></ion-input>
            </ion-item>
            <ion-button color="purple" expand="block" (click)="login()">Logar</ion-button>
            <ion-button color="purple" expand="block" (click)="cadastrar()">Cadastrar</ion-button>

        </ion-card>
    </div>