<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Historico</ion-title>
    </ion-toolbar>

    </ion-header>


    <ion-list>
      <ion-item *ngFor = "let h of agendamentos; " >
        <ion-label>{{h.service}}</ion-label>
        <ion-label>{{h.day}}</ion-label>
        <ion-label>{{h.hour}}</ion-label>
      </ion-item>
    </ion-list>


</ion-content>
