ion-toolbar[color="purple"] {
    background: #9859d3;
}

ion-title {
    text-align: center;
    color: aliceblue;
}

ion-list {
    background: #9859d3;
}

ion-item [color="purple"] {
    background: #563179;
}

ion-list-header[color="purple"] {
    background: #563179;
}

ion-content {
    --background: rgba(40, 42, 54, 1)
}

ion-label {
    text-align: center;
    color: aliceblue;
}

ion-item-sliding {
    background: #9859d3;
}

span {
    display: block;
    margin-bottom: 3px;
    padding-bottom: 3px;
    padding-top: 7px;
}