ion-toolbar[color="purple"] {
    background: #9859d3;
}

ion-list-header[color="purple"] {
    background: #563179;
}

ion-title {
    text-align: center;
    color: aliceblue;
}

ion-content {
    --background: rgba(40, 42, 54, 1)
}

ion-label {
    text-align: center;
    color: aliceblue;
}

ion-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
}