<ion-header>
    <ion-toolbar color="purple">
        <ion-title>Cadastro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="formulario">
        <ion-card>
            <ion-item>
                <ion-label position="floating">Nome do Usuario</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Senha</ion-label>
                <ion-input type="password" [(ngModel)]="userRegister.password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input type="e-mail" [(ngModel)]="userRegister.email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Telefone</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-card>


        <!-- Sizes -->
        <ion-button expand="block" color="primary" fill="clear" (click)="pageInitial()">Já possuo conta</ion-button>
        <ion-button expand="block" color="primary" (click)="register()">Sign in</ion-button>
    </div>

</ion-content>